# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala
5. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib

# Data Science Tools
| Data Management Tools | Data Visualization Tools | Data Intergration and Transformation Tools |
| --------------------- | ------------------------ | ------------------------------------------ |
| MySQL | PixieDust | Apache Airflow |
| PostgreSQL | Hue | Kubeflow |
| Apache CouchDB | Kibana | Apache Kafka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author:
Tom